:root {
    --color-primary: #00153b;
    --color-primary-medium: #1a4788;
    --color-primary-soft: #06214f;

    --color-bg: #f5f7fa;
    --color-surface: #ffffff;

    --color-text: #00153b;
    --color-text-muted: #4b5563;

    --color-border: #d1d5db;
    --color-border-soft: #e5e7eb;
}
